*{
	font-family: 'Montserrat', sans-serif;
}
/*imagen home*/
#home{
	position: absolute;
	margin: 0 auto;
	
}
/*cabeçalho*/
header{
	/*padding: 15px 0;
	background: url("imagens/home.png") no-repeat;
	background-size: cover;
	top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;*/
	padding: 15px 0;
	background: url("imagens/home.png") no-repeat;
	background-size: cover;
	width: 100%;
    height: 1050px;

}
/*text cabeçalho*/
header p{
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	text-align: center;
	font-weight: 300;
	line-height: 30px;
}
.painel {
	position: relative;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	
}
/*imagen logo rocky*/
h1{
	padding-left: 140px;
}
/*menu*/
nav{
	position: absolute;
	top: 20px;
	right: 140px;
}
/*lista menu*/
nav li{
	display: inline;
	margin:0 0 0 24px;
}
/*fonte da lista menu*/
nav a{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color:white;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}
/*text full digital perfomance*/
.slogan{
	font-family: 'Montserrat', sans-serif;
    font-size: 141px;
    color: white;
    font-weight: 900;
    text-align: center;
    margin-top: 333px;
    line-height: 100px;
	padding-bottom: 100px;
}
/*texto destacado em baixo do slogan*/
.textodestacado{
	color: #EFE60B;
}
/*posição botão*/
.divbtn{
	width: 100%;
	text-align: center;
	margin-top: 70px;
}
/*botão entre em contato*/
.btn{
	background-color: #1CD4E9;
	color: white;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	padding: 30px 25px;
	border: none;
	border-radius: 42px;
	margin-top: 30px;	
}
/*main*/
/*fundo da main*/
.conteudo{
	padding: 15px 0;
	background: url("imagens/parte2.png") no-repeat;
	background-size: cover;
	width: 100%;
    height: 2880px;
}
/*text sobre*/
.conteudo h3{
	font-size: 60px;
	font-weight: bold;
	margin-left: 140px;
    margin-bottom: 100px;
    margin-top: 80px;
}
/*retangulo branco*/
#rectangle{
	width: 1211px;
	height: 612px;
    background:white;
	box-shadow: 0px 0px 30px #0000004D;
	opacity: 1;
	margin-left: 140px;
}
/*text dentro do retangulo*/
#rectangle p{
	font-size: 20px;
	padding: 48px;
}
/*textos em negrito*/
.negrito{
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	color:black;
}
/*distancia*/
.services, .diferenciais{
	width: 100%;
	margin-top: 100px;
}
/*texto serviços*/
h4{
	font-size: 60px;
	font-weight: bold;
	margin-left: 140px;
    margin-bottom: 100px;
}
/* imagens uma do lado da outra*/
.services .itens, .diferenciais .itens{
	display: flex;
	width: 100%;
	justify-content: space-around;
}
/*primeiro retangulo de serviços*/
#rectangle1{
    width: 514px;
    height: 660px;
    background: transparent url(imagens/sv1.png) no-repeat padding-box;
    box-shadow: 0px 3px 15px #0000001a;
    border-radius: 33px;
    opacity: 1;
    background-position: center;
}
/*segundo retangulo de serviços*/
#rectangle2{
    width: 514px;
    height: 660px;
    background: transparent url(imagens/sv2.png) no-repeat padding-box;
    box-shadow: 0px 3px 15px #0000001a;
    border-radius: 33px;
    opacity: 1;
    background-position: center;
}
/*terceiro retangulo de serviços*/
#rectangle3{
    width: 514px;
    height: 660px;
    background: transparent url(imagens/sv3.png) no-repeat padding-box;
    box-shadow: 0px 3px 15px #0000001a;
    border-radius: 33px;
    opacity: 1;
    background-position: center;
}
/*texto diferenciais*/
h5{
	font-size: 60px;
	font-weight: bold;
	margin-left: 140px;
    margin-bottom: 100px;
}
/*primeiro retangulo de diferenciais*/
#rectangle4{
	width: 389px;
	height: 670px;
    background-color: black; 
    background-position: center;
    box-shadow: 0px 3px 15px #0000001a;
    border-radius: 51px;
}
/*segundo retangulo de diferenciais*/
#rectangle5{
	width: 389px;
	height: 670px;
    background-color: black; 
    background-position: center;
    box-shadow: 0px 3px 15px #0000001a;
    border-radius: 51px;
}
/*terceiro retangulo de diferenciais*/
#rectangle6{
	width: 389px;
	height: 670px;
    background-color: black; 
    background-position: center;
    box-shadow: 0px 3px 15px #0000001a;
    border-radius: 51px;
}
/*primeira imagem de diferenciais*/
.s1{
	width: 389px;
	height: 670px;
    background: transparent url(imagens/s1.png) no-repeat padding-box;
    background-position: center;
    border-radius: 51px;
    opacity: 0.6;
}
/*segunda imagem de diferenciais*/
.s2{
	width: 389px;
	height: 670px;
    background: transparent url(imagens/s2.png) no-repeat padding-box;
    background-position: center;
    border-radius: 51px;
    opacity: 0.6;
}
/*terceira imagem de diferenciais*/
.s3{
	width: 389px;
	height: 670px;
    background: transparent url(imagens/s3.png) no-repeat padding-box;
    background-position: center;
    border-radius: 51px;
    opacity: 0.6;
}
.textcaixa{
	font-size: 24;
	color: white;
	text-align: center;
	padding-top: 10px;
}
/*retangulo amarelo*/
#borda{
    width: 1920px;
    height: 83px;
    background: #EFE60B  no-repeat padding-box;
    opacity: 1;
}
/*rodapé*/
#rectangle7{
    width: 1920px;
    height: 940px;
    background: #000000E6 0% 0% no-repeat padding-box;
    opacity: 1;
}








